#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_BitSeedsd += debian/examples/*
DEB_INSTALL_MANPAGES_BitSeedsd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix BitSeedsd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f BitSeeds-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake BitSeeds-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/BitSeedsd:
	chmod +x $(cdbs_curdestdir)usr/bin/BitSeedsd
binary-post-install/BitSeeds-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/BitSeeds-qt
